<launch>

    <include 
        file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch">
    </include>

    <arg 
        name = "enableBag"
        default = "false"
    />
 
    <node
	pkg="turtlebot_roomba"
	name="turtlebot_roomba"
	type="turtlebot_roomba"
	output="screen"
	launch-prefix="gnome-terminal --command"
    />

</launch>
